## Predominant Reason For Absenteeism From Work

### Problem

- Employees that are not there to execute their work will cost the company more than they should.

- The absence is a major issue since it affects production and is inconvenient because it necessitates rescheduling and modifying programmes, which is one of the contributing causes to a department's failure to fulfil performance objectives.

### Objective

- Based on these issues, this analysis is performed to forecast the most common cause of employee absence from work.

- In order to find solutions to these difficulties, an analysis is performed utilising supervised machine learning: logistic regression.

### Import relevant libraries

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

### Load DataSet

In [4]:
data = pd.read_csv('Absenteeism_data.csv')

In [5]:
data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2